.parent{
  display: flex;
  justify-content: center;
}
.child{
  width: 100%;
  border: 1px solid #ddd;
  padding: 1%;
  margin:1%;
  box-shadow: 0px 8px 8px -8px #000;
  text-align: center;
  background-color: rgb(196, 192, 187);
}
.child img{
  width: 50%;
}
.child a{
  text-decoration: none;
}
.link{
  text-decoration: none;
}
.btn{
  background: #333ea8;
  color: #fff;
  padding: 1%;
  text-decoration: none;
  display: block;
}
.child2{
  width: 100%;
  border: 1px solid #ddd;
  padding: 1%;
  margin:1%;
  box-shadow: 0px 8px 8px -8px #000;
  background-color: azure;
}
.skills{
  margin: 5%;
  padding: 0.5%;
  color: #fff;
  border-radius: 10px;
  background: #333ea8;
  border: 1px solid #333b8a;
  box-shadow:0px 8px 8px -8px #000;
}